{% extends "CoreBundle::mainLayout.html.twig" %}

{% block title %}{{ parent() }}Tenders{% endblock %}

{% block header_content %}
    <h1>Tenders</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('_home') }}"><i class="fa fa-dashboard"></i> O&G Market</a></li>
        <li><a href="{{ path('_tenders') }}"> Tenders</a></li>
    </ol>
{% endblock %}

{% block page_content %}
    
    <div class="row">  
        <div class="col-md-12">
            <div class="box box-primary">
                
                <div class="box-header with-border">
                    <h3 class="box-title">Find specific tender</h3>
                    <button id="tender_add_btn" class="btn btn-success pull-right" data-backdrop="static" data-toggle="modal" data-target="#tender_add_modal" onClick="add_tender(Routing.generate('_tender_initializeForm'))">
                        <i class="fa fa-plus-circle"></i>
                        <span>New tender</span>
                    </button>
                </div>
                
                <div class="box-body">
                    <form role="form" id="tenderForm" method="post">

                        <div class="form-group col-md-2">
                            <label for="tender_oilCompany">Oil Company</label><br>
                            <select id="tender_oilCompany" name="tender_oil_company[]" class="select2 form-control" multiple="multiple">
                                {% if data['oilCompanies'] is defined %}
                                    {% for oilCompany in data['oilCompanies'] %}
                                        <option value="{{ oilCompany.id }}">{{ oilCompany.oilCompanyName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="tender_helicopter">Helicopter Category</label><br>
                            <select id="tender_category" name="tender_category[]" class="select2 form-control" multiple="multiple">
                                {% if data['helicopterCategories'] is defined %}
                                    {% for helicopterCategory in data['helicopterCategories'] %}
                                        <option value="{{ helicopterCategory.id }}">{{ helicopterCategory.helicopterCategoryName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label>Country</label><br>
                            <select id="tender_country" name="tender_country[]" class="select2 form-control" multiple="multiple">
                                {% if data['countries'] is defined %}
                                    {% for country in data['countries'] %}
                                        <option value="{{ country.id }}">{{ country.countryName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label>Base</label><br>
                            <select id="tender_base" name="tender_base[]" class="select2 form-control" multiple="multiple">
                                {% if data['bases'] is defined %}
                                    {% for base in data['bases'] %}
                                        <option value="{{ base.id }}">{{ base.baseName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label>Status</label><br>
                            <select id="tender_status" name="tender_status[]" class="select2 form-control" multiple="multiple">
                                {% if data['projectStatus'] is defined %}
                                    {% for status in data['projectStatus'] %}
                                        <option value="{{ status.id }}">{{ status.projectStatusName }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Tender Level</label><br>
                            <select id="tender_level" name="tender_level[]" class="select2 form-control" multiple="multiple">
                                <option value="0">Very Low</option>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                                <option value="4">Very High</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="box-footer with-border">
                    <button id="tender_filter_btn" type="submit" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading...">Filter</button>
                </div>

            </div>
        </div>
        <!-- /Div form -->              

        <!-- Div map result -->               
        <div class="col-md-12" id="tender_map">           
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#map" aria-controls="mape" role="tab" data-toggle="tab">Map</a></li>
                    <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="map">
                        <div id="world-map" style="height: 600px; width: 100%">
                            
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="table">
                        <table id="tender_result_table" class="table table-striped table-bordered dt-responsive hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Area</th>
                                    <th>Country</th>
                                    <th>Tender Name</th>
                                    <th>Oil Company</th>
                                    <th>Base</th>
                                    <th>Type of tender</th>
                                    <th>Timing</th>
                                    <th>Summary</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Div map result -->
    </div>
                
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="tender_add_modal" tabindex="-1" role="dialog" aria-labelledby="add_tender_modal_label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Add new tender</h3>
                </div>
                <div class="modal-body">
                    <form role="form" id="add_tender_form" method="post">
                        <div id="myModalFormContent">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a href="#tab1" data-toggle="tab">1. Main Data</a></li>
                                    <li><a href="#tab2" data-toggle="tab">2. Helicopters</a></li>
                                    <li><a href="#tab3" data-toggle="tab">3. Timing</a></li>
                                    <li><a href="#tab4" data-toggle="tab">4. Description</a></li>
                                </ul>
                            </div>
                            <div class="progress active">
                                <div class="progress-bar progress-striped" id="bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                </div>
                            </div>
                            <ul class="pager wizard">
                                    <li class="previous"><a href="javascript:;">Previous</a></li>
                                    <li class="next"><a href="javascript:;">Next</a></li>
                                    <li class="next finish" style="display:none;"><a href="javascript:;">Save</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tab-panel" class="tab-pane" id="tab1">
                                    <div class="form-group has-error">
                                        <label>Tender Name</label><br>
                                        <input type="text" name="add_tender_name" id="add_tender_name" class="select2 form-control" placeholder="Enter tender name..." required>
                                    </div>
                                    <div class="form-group has-error">
                                        <label>Oil Company</label><br>
                                        <select name="add_tender_oil_company" id="add_tender_oil_company" class="select2 form-control" title="Choose an oil company..." required>
                                        </select>
                                    </div>
                                    <div class="form-group has-error">
                                        <label>Country</label><br>
                                        <select name="add_tender_country[]" id="add_tender_country" class="select2 form-control" title="Choose a country..." required>
                                        </select>
                                    </div>
                                    <div class="form-group has-error">
                                        <label>Base</label><br>
                                        <select name="add_tender_base" id="add_tender_base" class="select2 form-control" title="Choose an operational base..." required>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tender Importance</label><br>
                                        <input type="range" class="slider" name="add_tender_level" value="0" step="0" min="0" max="4">
                                        <h4 id="rangeText" class="text-center"></h4>
                                    </div>
                                </div>
                                <div role="tab-panel" class="tab-pane" id="tab2">
                                    <div class="form-group">
                                        <label>Category of Helicopter</label><br>
                                        <select name="add_tender_helicopter_category[]" id="add_tender_helicopter_category" class="select2 form-control" title="Choose one or more category of helicopter..." multiple>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity of Helicopters</label><br>
                                        <div id="add_tender_helicopter_quantity">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Platforms</label><br>
                                        <select name="add_tender_platforms[]" id="add_tender_platforms" class="select2 form-control" multiple title="Choose one or more platforms...">
                                        </select>
                                    </div>
                                    <div class="form-group" id="add_tender_mission">
                                        <label>Mission</label>
                                        <input type="hidden" id="add_tender_mission_order" name="add_tender_mission_order">
                                        <ol id="platforms_sortable">

                                        </ol>
                                    </div>
                                </div>
                                <div role="tab-panel" class="tab-pane" id="tab3">
                                    <div class="form-group has-error">
                                        <label>Tender Status</label><br>
                                        <select name="add_tender_status" id="add_tender_status" class="select2 form-control" title="Choose the current tender status..." required>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tender Out</label><br>
                                        <input type="text" name="add_tender_tender_out" id="add_tender_tender_out" class="form-control datepicker" placeholder="Pick a date...">
                                    </div>
                                    <div class="form-group">
                                        <label>Tender Closure</label><br>
                                        <input type="text" name="add_tender_tender_closure" id="add_tender_tender_closure" class="form-control datepicker" placeholder="Pick a date...">
                                    </div>
                                    <div class="form-group">
                                        <label>Awarded</label><br>
                                        <input type="text" name="add_tender_awarded" id="add_tender_awarded" class="form-control datepicker" placeholder="Pick a date...">
                                    </div>
                                    <div class="form-group">
                                        <label>Operations Start</label><br>
                                        <input type="text" name="add_tender_operations_start" id="add_tender_operations_start" class="form-control datepicker" placeholder="Pick a date...">
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <div class="form-group has-error">
                                        <label for="add_tender_summary">Two-lines summary</label>
                                        <textarea id="add_tender_summary" name="add_tender_summary" type="text" row="3" class="form-control" placeholder="Enter a short summary for the tender..." style="resize: none"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_tender_comment">Comment</label>
                                        <textarea id="add_tender_comment" name="add_tender_comment" type="text" row="1" class="form-control" placeholder="Enter a comment for the tender..." style="resize: none; height: 200px"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_tender_confidential_link">Confidential Link</label>
                                        <input type="text" name="add_tender_confidential_link" id="add_tender_confidential_link" class="form-control" placeholder="Paste link pointing to the hub...">
                                    </div>
                                    <div class="form-group">
                                        <label for="add_tender_external_link">External Link</label>
                                        <input type="text" name="add_tender_external_link" id="add_tender_external_link" class="form-control" placeholder="Paste link pointing to an external source...">
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    </div>
    <!-- /Modal -->        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/contract/js/tenderModule.js') }}"></script>
{% endblock %}